body{
    background-color: #84ff00;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
}

header{
    border: 2px solid #fffeee;
    
    
}
#header{
    font-weight: 800;
    font-size: 80px;
    font-family: monospace;
    color: #ffffff;
}

nav{
    background-color: #ffffff;
    
}

#navigation li{
    display: inline;
    margin:10px;
}
#navigation a {
    text-decoration:none;
}
