:root{
    --header_font_size:40px
}

body{
    background-color:#ffb700;

}

#header{
 color:#022d91;
 text-align:center; 
 font-size:var(--header_font_size);
 font-weight:900;
 font-family:monospace;
}

