body{
    background-color: #84ff00;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
}

header{
    border: 2px solid #fffeee;
    
    
}
#header{
    font-weight: 800;
    font-size: 80px;
    font-family: monospace;
    color: #ffffff;
}

main{
    border: 2px solid;
}
figure{
    height: 180px;
    width: 160px;
    border:2px solid #ff001a;
    display:block;

}
table{
    border-collapse: collapse;
    
}
table,th,td{
    border:2px solid #1403ff;
}
td{
    text-align: center;
}